*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #1e1d1a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font:Arial, Helvectica, sans-serif
}

body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0px auto;
    padding: 10px;
}
header {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    background-color: burlywood;
    
}
nav ul {
    display: flex;
    gap: 50px;
    list-style: none;
    
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    position: static;
    background-color: var(--secondary-color); 
    color: var(--accent2-color); 
    padding: 20px;
    margin:20px auto;
    max-width: 800px;
}

.hero article img {
    float: right;
    width: 125px;
}
.history-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin: 30px auto;
    max-width: 840px;
}
.history-center {
    text-align: center;
}
.history-center img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
}
.adventure-section {
    max-width: 840px;
    margin: 40px auto;
}
.adventure-section h2 {
    text-align: center;
    margin-bottom: 20px;
}
.adventure-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
}
.adventure-grid figure {
    margin: 0;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}
.adventure-grid img {
    width: 100%;
    height: auto;
}
.adventure-grid figcaption {
    margin-top:8px;
    font-weight: bold;
}

footer{
    display: grid;
    grid-template-columns: 3fr 1fr;
    border: #f4a261;
    background-color: burlywood;
}
footer img {
    width: 35px;
    height: auto;
}





.address {
    text-align: center;
    font-weight: bold;
}

.map-section iframe {
    width: 350px;
    height: 350px;
    border: none;
    border-radius: 4px;
}

.map-form {
    display: flex;
    gap: 10px;
}

.Contact-form-section {
    grid-row: 1 / 3;
    padding: 25px;
    border-radius: 5px;
    width: 400px;
} 

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.Contact-form-section textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
}

.Contact-form-section input[type="text"],
.Contact-form-section input[type="email"] {
    width: 200px;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
}

.Contact-form-section fieldset label,
.Contact-form-section .checkbox-label {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
}

fieldset {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

fieldset legend {
    font-weight: bold;
}

.checkbox-label {
    cursor: pointer;
}

 button {
    background-color: #002f6c;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 1.1em;
    
}

.profile-grid {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.employee-profiles {
    border: 1px ;
}

.employee-profiles h2 {
    text-align: center;
}

.employee-profile img {
    height: auto;
    border-radius: 4px;
    display: block;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .contact-grid {
        grid-template-columns: 1fr;
    }

    .contact-form-section {
        grid-column: 1 / 2;
        grid-row: auto;
    }
}





.hero-box {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px 40px;
    text-align: center;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
}

.trips-intro {
    text-align: center;
    padding: 40px 20px;
    background-color: #eef7f9;
    margin: 20px auto;
    max-width: 800px;
    border: 6px;
}

.trips-intro h1 {
    margin-top: 120px;
    text-align: left;
}


.cta-btn {
    display: inline-block;
    background-color: #ff5a5f;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 16%;
}

.home-grid, .trips-display-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 40px 20px;
}

.grid-card, .trip-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.grid-card img, .trip-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 15px;
}

.table-container {
    padding: 40px 5%;
    background-color: #fff;
    margin: 20px 5%;
    border-radius: 9px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #026aa7;
    color: white;
    font-weight: bold;
}

tr:nth-child(even {
    background-color: #f2f2f2;
})
