*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #1e1d1a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font:Arial, Helvectica, sans-serif
}

body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}
header {
    display: grid; 
    align-items: center;
    grid-template-columns: 1fr 1fr;
    background-color: burlywood;
    
}
nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    background-color: var(--secondary-color); 
    color: var(--accent2-color); 
    padding: 20px;
    margin:20px auto;
    max-width: 800px;
}

.hero article img {
    float: right;
    width: 125px;
}
.history-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin: 30px auto;
    max-width: 840px;
}
.history-center {
    text-align: center;
}
.history-center img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
}
.adventure-section {
    max-width: 840px;
    margin: 40px auto;
}
.adventure-section h2 {
    text-align: center;
    margin-bottom: 20px;
}
.adventure-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
}
.adventure-grid figure {
    margin: 0;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}
.adventure-grid img {
    width: 100%;
    height: auto;
}
.adventure-grid figcaption {
    margin-top:8px;
    font-weight: bold;
}

footer{
    display: grid;
    grid-template-columns: 3fr 1fr;
    border: #f4a261;
    background-color: burlywood;
}
footer img {
    width: 35px;
    height: auto;
}